
.container3
{
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* height: 100vh; */
}
.movie-name
{
    /* height: 10%; */
    color: white;
    padding: 20px;

    background-color: rgb(49, 49, 49);
}
.genre
{
    display: flex;

}
.sub-genre
{
    margin: 10px;

}
.dates{
    display: flex;
    padding: 20px;

    justify-content: space-between;
}
.d1{
    display: flex;
}
.d1 a
{
    text-decoration: none;
}
.d1 a:hover{
    color: white;


}
.b1{
    width: 45px;
    background-color: rgb(219, 0, 0);
    
    color: white;
font-weight: 700;
    margin: 5px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;

}
.active{
    background-color: rgb(211, 211, 211);
    color: black;

}
.d2{
    margin: auto 0;
    padding: 10px;
}
.fast-filling{
    padding: 20px;
}
.fast-filling span
{
    margin-left: 5px;
}
.fast-filling div{
    width: 10px;
    height: 10px ;
    border-radius: 50%;
    background-color: green;
    margin-left: 10px;
    display: inline-block;
}
.fast-fill
{
    background-color: rgb(252, 161, 64) !important;


}
.hall-detail{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
.hall-detail i{
    margin: 10px;
}
.show-timings{
    display: flex;
}
.show{
    text-decoration: none;
    border: 1px solid green;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    color:palevioletred;
}

@media (max-width:767px)
{
    .genre
    {
        font-size: 12px;
    }
    .sub-genre
    {
        margin: 10px 10px 0px 0px;
    }
    .d1
    {
        font-size: 12px;
    }
    .dates
    {
        flex-direction: column;
    }
    .container3
    {
        font-size: 12px;
    }
    .movie-name-h1
    {
        font-size: 20px;
    }
    .fast-filling span
    {
        margin-left: 5px;
    }
    .hall-detail
    {
        flex-direction: column;
    }
    .show-timings
    {
        flex-wrap: wrap;
    }
    .name
    {
        justify-content: flex-start;
    }
    .name
    {
        font-size: 17px;
        padding: 5px;
    }
    .name i
    {
        font-size: 17px;
    }

}